@import url("reset.css");
body {
  font-family: Helvetica;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
header {
  height: 60px;
}
header .wrapper {
  height: inherit;
  border-bottom: 1px solid #ddd;
}
header nav {
  float: right;
}
header nav li {
  display: inline-block;
  margin: 22px 6px;
}
header nav li a {
  font-size: 16px;
  color: #273137;
  text-decoration: none;
}
header nav li a:hover {
  text-decoration: underline;
}
header nav .highlighted {
  padding-bottom: 17px;
  border-bottom: 4px solid #30beda;
}
header nav .github {
  font-weight: bold;
}
header h1 {
  float: left;
  color: #273137;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -3px;
  margin: 8px;
}
header h1 em {
  font-family: Georia;
  font-style: italic;
  font-size: 118%;
  letter-spacing: -2px;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 32px 0;
  margin-top: 100px;
}
h2 {
  font-size: 18px;
  font-weight: 100;
  padding: 4px;
  color: #30beda;
  border-bottom: 1px solid #b2e7f1;
  margin: 18px 0;
}
h3 {
  font-size: 24px;
  font-family: Georgia;
  font-weight: 100;
  font-style: italic;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 6px;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.column.wide {
  width: 672px;
}
.column.thin {
  width: 288px;
}
code,
pre {
  margin: 30px;
  background: rgba(0, 0, 0, 0.065);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 18px;
  font-family: monospace;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  overflow-x: scroll;
}
code {
  padding: 2px 4px;
  margin: 0;
}
p {
  line-height: 150%;
}
p a {
  color: #19788b;
}
.themes .thin {
  padding-top: 10px;
}
.themes h2 {
  margin: 12px 0;
}
.themes #themes {
  display: inline-block;
  margin: 4px;
  margin-top: -4px;
  width: 86px;
}
.links div {
  margin: 14px 12px;
  list-style: none;
  font-weight: bold;
  font-weight: 18px;
}
.links div a {
  color: #273137;
}
.links div span:before {
  content: '\27dc  ';
}
.documentation #sidebar {
  position: fixed;
  margin-top: 14px;
}
.documentation #sidebar h3 {
  font-size: 18px;
  margin-right: 18px;
}
.documentation .wide {
  margin-left: 288px;
}
footer {
  margin-top: 40px;
  background: #273137;
  height: 200px;
}
